.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
  padding: 15px 40px;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: #05f2db;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.8;
  color: #f205cb;
}

.active a {
  text-decoration: underline;
  font-weight: 700;
}

.logo{
  height: 6rem;
  width: auto;
}